# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

assets/fonts/outfit/OFL.txt
assets/fonts/outfit/Outfit-VariableFont_wght.ttf
assets/fonts/outfit/static/
assets/fonts/young-serif/
!assets/fonts/young-serif/YoungSerif-Regular.ttf
!assets/fonts/outfit/static/Outfit-Bold.ttf
!assets/fonts/outfit/static/Outfit-Regular.ttf
!assets/images/image-omelette.jpeg
assets/images/
design/